// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
}

.form-delete {
    display: inline;
}